.row {
    display: flex;
    gap: 2px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(33, 53, 71, 0.28);
    will-change: filter;
    transition: filter 300ms;
}

.box:hover {
    filter: drop-shadow(0 0 5px rgba(0, 139, 255, 0.77));
    cursor: pointer;
}